@font-face {
  font-family: "iconfont"; /* Project id 4190285 */
  src: url('iconfont.woff2?t=1698806143023') format('woff2'),
       url('iconfont.woff?t=1698806143023') format('woff'),
       url('iconfont.ttf?t=1698806143023') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e600";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-tuichu:before {
  content: "\e67d";
}

.icon-yaoqing:before {
  content: "\e61b";
}

.icon-zuofanye-xue:before {
  content: "\e633";
}

.icon-youfanye-xue:before {
  content: "\e634";
}

.icon-suoxiao:before {
  content: "\e658";
}

.icon-quanpingmu:before {
  content: "\e6c5";
}

.icon-shipinhuiyiiconx:before {
  content: "\e613";
}

.icon-guaduan:before {
  content: "\e616";
}

.icon-2:before {
  content: "\e680";
}

.icon-luzhi:before {
  content: "\e609";
}

.icon-yunliao:before {
  content: "\e663";
}

.icon-shexiangtou_guanbi:before {
  content: "\eca5";
}

.icon-shexiangtou:before {
  content: "\eca6";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-Microphone:before {
  content: "\ea92";
}

.icon-luzhi1:before {
  content: "\e60d";
}

.icon-microphoneoff:before {
  content: "\e6ec";
}

.icon-renqun-01:before {
  content: "\e60f";
}

.icon-adduser:before {
  content: "\e7ae";
}

